<p>Hello there <%= @user.name %></p>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_for :message, :html => { :onsubmit => 'sendMessage();' }, remote: true do |f| %>
  To : <%= select_tag "recipient", options_for_select(@users, "name") %><br/>
  Message : <%= f.text_area :text %><br/>
  <%= f.submit 'Send message' %>
<% end %>

<% @users.each do |user| %>
  <div id="<%= user[1] %>" name="user-select">
    <%= user[0] %>
  </div>
<% end %>

<h1>Messages</h1>
<div id="messages">
  Messages loading...
</div>

<script type="text/javascript" src="https://unpkg.com/@cometchat-pro/chat/CometChat.js"></script>

<script type="text/javascript">
    window.onload = (function () {
        // window scoped variable called `CometChat` is created.
    })
</script>

<script type="text/javascript" src="https://unpkg.com/@cometchat-pulse/cometchat-pulse.js/CometChat.js"></script>

<script type="text/javascript">
    window.onload = (function () {
        const appId = '<%= @app_id %>';
        const apiKey = '<%= @api_key %>';

        CometChat.init(appId).then(
            hasInitialized => {
                console.log("Initialization completed successfully", hasInitialized);
                const fetchMessages = id => {
                    const limit = 30;
                    const messagesRequest = new CometChat.MessagesRequestBuilder().setUID(id).setLimit(limit).build();

                    messagesRequest.fetchPrevious().then(
                        messages => {
                            console.log("Message list fetched: ", messages);
                            const messageDiv = document.getElementById('messages')
                            messageDiv.innerHTML = messages.map(msg => `<div>${msg.data.text}</div>`).join('')
                        },
                        error => {
                            console.log("Message fetching failed with error:", error);
                        }
                    );
                }

                const users = document.getElementsByName('user-select')
                users.forEach(u => u.addEventListener("click", e => fetchMessages(e.target.id)));

                CometChat.login(<%= @user.id %>, apiKey).then(
                    User => {
                        console.log("Login Successful:", {User});
                        fetchMessages(<%= @users.first[1] %>)
                    },
                    error => {
                        console.log("Login failed with exception:", {error});
                        // User login failed, check error and take appropriate action.
                    }
                )
            },
            error => {
                console.log("Initialization failed with error:", error);
                //Check the reason for error and take apppropriate action.
            }
        );

    });

    const sendMessage = () => {
        const recipient_id = document.getElementsByName('recipient')[0].value;
        const message_text = document.getElementsByName('message[text]')[0].value;
        console.log(recipient_id);
        console.log(message_text);
        var messageType = CometChat.MESSAGE_TYPE.TEXT;
        var receiverType = CometChat.RECEIVER_TYPE.USER;
        var textMessage = new CometChat.TextMessage(recipient_id, message_text, messageType, receiverType);

        CometChat.sendMessage(textMessage).then(
            message => {
                console.log("Message sent successfully:", message);
                // Text Message Sent Successfully
            },
            error => {
                console.log("Message sending failed with error:", error);
            }
        );
    }
</script>
