<% content_for :title, @user.name %>
<%= tag("div", id: 'user-id', :data => {:name => @user.name, :id => @user.id}) %>

<p>Hello there <%= @user.name %></p>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_for :message, :html => { :onsubmit => 'sendMessage();' }, remote: true do |f| %>
  Message : <%= f.text_area :text %><br/>
  <%= f.submit 'Send message' %>
<% end %>

<% @users.each do |user| %>
  <div id="<%= user[1] %>" name='user-select'>
    <%= user[0] %>
  </div>
<% end %>

<h1>Messages</h1>
<div id="message-container">
  <div id="messages">
    Messages loading...
  </div>
</div>

<% javascript_include_tag 'show', :cache => 'myfiles' %>
<script type="text/javascript" src="https://unpkg.com/@cometchat-pro/chat/CometChat.js"></script>

<script type="text/javascript">

</script>

<script type="text/javascript" src="https://unpkg.com/@cometchat-pulse/cometchat-pulse.js/CometChat.js"></script>
